__pycache__/
coverage
node_modules
.node*
*.bin
*.abi
*.log
/out
/server/proto
/logger_test/target
/logger_service/target
/logger_interface/target
/logger_interface/src/*.rs
!/logger_interface/src/lib.rs
build
.venv
.vscode
