__pycache__/
*.abi
*.bin
*.download
*.log
**/solcInputs
/artifacts
/out
/server/proto
/logger_test/target
/logger_service/target
/logger_interface/target
/logger_interface/src/*.rs
!/logger_interface/src/lib.rs
.node*
.venv
.vscode
cache
coverage
node_modules
src/types
dist
